.otherVin {font-style: italic;}
.otherSession {border-left: 5px solid orange;}

.vin {color: #030CB4;}
.session {font-weight: bold;}
.clisession {font-style: italic;}

.sql {color: #ddd; font-size: 8px;}

.s1 {background: #eaa;}
.s2 {background: #aaa;}
.s3 {background: #aaa;}
.s4 {background: #eea;}
.s5 {background: #aee;}	
.s6 {background: #eae;}

.session:before {
  content: ">>>";
  position: absolute;
  margin-left: -70px;
  font-weight: bold;
  color: #789;
}

.hideLine {color: #ccc;}