#controls {background: #eee; padding: 10px; margin: 0 0 10px 0; text-align: center; position: relative; z-index: 2;}
#controls input, #controls textarea {margin: 0 25px 0 25px; width: 25%; height: 25px;}

td {overflow: hidden; max-width: 100px !important; padding: 4px !important;}
td > div {width: 100%; height: 50px !important; cursor: pointer; margin: 10px;}
tbody tr:hover {background: #eed;}

.modal-dialog {z-index: 9999; width: 900px;}

#span0 {}
#span1 {font-weight: 400, font-size: 14px; color: #aaa;}
#span2 {}

#modalTextarea {height: 300px;}

#modalDataViewer {max-height: 450px; overflow: scroll;}


/*==========*/
html, body {margin: 0; font-family: Verdana;}
body {font-size: 14px;}

h1 {color: #ddd;}

ol {margin: 0px 30px;}
div {margin: 25px 5px; overflow: hidden;}

#logsContainer {font-family: Courier New;}

#map {
  position: fixed;
  top: 0px;
  right: 0px;
  margin: 0;
  padding: 10px;
  background: #eee;
  opacity: 0.5;
  z-index: 1;
  width: 550px;
}
#map span {
  display: inline-block;
}
#map div {
	margin: 5px 0;
}

.msg {
  display: none;
}

.highlighterSample {
	height: 20px;
	width: 60px;
}

.input {display: inline; margin-right: 5px !important;}